.app {
  font-family: sans-serif;
  text-align: center;
  margin: 0 auto;
}

.body {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.banner-general {
  font-size: 10%;
}

.bannerbuttons {
  background-color:rgb(205, 220, 126);
  color: black; 
  margin: 6px;
  padding: 3px;

}

.banner {
  background-color: lightblue;
  margin: 2px;
  font-size: 12px;
  
}

.card {
  width: 140px;
  background-color: lightblue;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-wrap: inherit;
}

.tag {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.574);
  padding: 2%;
  flex:1;
  font-size: small;
}

.img {
  width: 80%;
  background-color: green;
  margin-top: 5%;
}

.location {
  width: 160px;
  background-color: lightseagreen;
  margin: 5px;
  padding: 5px;
}

.type-flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
}

.type-flex-child {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
}
